body {
    background-color: maroon;
    font-family: Arial;

}

h1{
    font-family: Arial;
    color: white;
    text-align: center;
}
  .contact-form {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.contact-form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 94%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 100px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #e68a00;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px black;
    font-weight: 700;
  }
  
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: #000;
    cursor: pointer;
  }